# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Testing
.pytest_cache/

# Database
instance/
*.db

# Flask Environment
.env

# macOS Files
.DS_Store
.localized
__MACOSX/

# IDE Settings
.vscode/
.idea/

# Build Files
dist/
build/

# Jupyter
.ipynb_checkpoints/

